{% extends "artikel/base_detail.html" %} {% load static %} {% block konten %}

<div class="page-header min-vh-50 bgFull">
  <span class="mask bg-gradient-dark opacity-6"></span>
</div>

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <div class="row mt-3">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="blog__details__title">
            <h6 class="text-dark">
              {{detail.nama}} <span>- {{detail.date}}</span>
            </h6>
            <h2 class="text-dark">{{detail.judul}}</h2>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="blog__details__pic">
            <img
              src="{{detail.gambar}}"
              style="
                background-size: cover;
                background-repeat: no-repeat;
                width: 200px;
                height: 600px;
              "
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-8">
          <div class="blog__details__content">
            <div class="blog__details__text myteks">
              {{detail.deskripsi|safe}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock konten %}
