{% extends 'back/baseAdmin.html' %} {% load static %} {% block konten %}

<div
  class="page-header"
  style="
    background-image: url(&#39;https://images.unsplash.com/photo-1520769945061-0a448c463865?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80&#39;);
    height: 89vh;
  "
  loading="lazy"
>
  <span class="mask bg-gradient-dark opacity-5"></span>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
        <h1 class="text-white mb-4">Welcome To Dashboard</h1>
        <p class="text-white opacity-8 lead pe-5 me-5">
          Please Create Articles And Publish Your Articles ( Related To Movies)
        </p>
        <div class="buttons">
          <button type="button" class="btn btn-white mt-4">
            <a href="{% url 'viewArtikel' %}"> Get Started</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock konten %}
